<header>
    <div class="bigbar"></div>
</header>
<div class="side-bar">
    <ul>
        <!--<li>
            Placeholder
        </li> -->
        <li>
            <img src="/pages/dbsymbol.png" width="12" height="14">Database Operations
            <ul>
                <li>
                    <div class="dropdown-bar sidebar">Special Lines</div>
                    <ul class="dropdown-container">
                        <li><a href="#">Insert line</a></li>
                        <li><a href="#">Insert bus stations</a></li>
                        <li><a href="#">Insert leaving times</a></li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown-bar sidebar">Urban Lines</div>
                    <ul class="dropdown-container">
                        <li><a href="/admin/linker">Insert bus stops</a></li>
                        <li><a href="/admin/stations">Insert bus stations</a></li>
                        <li><a href="/admin/times">Fetch bus leaving times</a></li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown-bar sidebar">Metropolitan Lines</div>
                    <ul class="dropdown-container">
                        <li><a href="/admin/metropolitanLinker">Insert bus stops</a></li>
                        <li><a href="/admin/metropolitanTimes">Fetch bus leaving times</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>