<meta charset="UTF-8">
<title>The Metropolitan Project</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> 
<link rel = "stylesheet" type = "text/css" href = "/public/styles/navbar.css" />
<link rel = "stylesheet" type = "text/css" href = "/public/styles/home.css"  />
<style>

</style>
