<!DOCTYPE html>
<html lang="en-IS">
<head>
  <%- include('../partials/head'); %>
  <% selected = 2 %>
  <link rel="stylesheet" type="text/css" href="/public/styles/about.css" />
</head>
<body class="main-container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
