<!DOCTYPE html>
<html lang="en-IS">
<head>
  <%- include('../partials/head'); %>
  <link rel = "stylesheet" type = "text/css" href = "/public/styles/contact.css"/>
  <% selected = 3 %>
</head>
<body class="main-container">

<header>
  <%- include('../partials/header'); %>
</header>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
