<!DOCTYPE html>
<html lang="en-IS">
<head>
  <%- include('../partials/head'); %>
  <% selected = 1 %>
</head>
<body class="main-container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
